html, body {
    background-color: hsla(180, 2%, 10%, 0.788);
  }
  
html, body {
    width: 90%;
    height: 90%;
    margin: 10px;
    padding: 25px;
    border: 5px white;
  }



  .box {
    display: inline-table;
    width: 130px;
    height: 150px;
    padding: 10px;
    margin-bottom: 10px;
    background: white;
    color: white;
    text-align: center;
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
  }
  
  