html, body {
    background-color: rgba(77, 226, 196, 0.788);
  }
  
html, body {
    width: 90%;
    height: 90%;
    margin: 10px;
    padding: 25px;
    border: 5px white;
  }



  .box {
    display: inline-block;
    width: 150px;
    height: 170px;
    padding: 5px;
    margin-bottom: 2px;
    background: red;
    color: white;
    text-align: center;
  }
  